<span style="font-size:10pt">AI @ ENSPIMA_2023-2024 / v1.1 september 2023 / Jean-Luc CHARLES (Jean-Luc.charles@mailo.com) / CC BY-SA 4.0 /</span>

# <img align="middle" src="./img/alarmClock.png" width="60" height="60">  __Wake up your Python__ ! part 1<a name="top"></a>

## [ 1 - The <span style="color:green">range</span> primitive](#1)
## [ 2 - The pythonic loop – Iterable objects](#2)
### $\phantom{--}$[ The <span style="color:green">enumerate</span> primitive](#enumerate)
### $\phantom{--}$[ The <span style="color:green">zip</span> primitive](#zip)
## [ 3 - Mutable/not mutable objects in Python](#3)
## [ 4 - The <span style="color:green">list</span> type](#4)
### $\phantom{--}$[ List comprehension](#list_comprehension)
### $\phantom{--}$[ Slicing](#slicing)
## [ 5 - The <span style="color:green">str</span> type](#5)
### $\phantom{--}$[ f-string: formatted string](#f-string)

<div class="alert alert-block alert-info"> <span style="color:#000080">
For each example in this notebook, take care to read the explanations given and to execute the Python cells with $\left(\mathtt{Shift+Enter}\right)$, before proceeding to the exercises.
</span>
</div>

## __1 - The `range` primitive__ <a name="1"></a>
`range` allows you to build an **iterable object** made up of a sequence of integers:

`range(start, stop[, step])` returns an integer generator ranging from `start` inclusive to `stop` exclusive, in steps (integer) of `step`.<br /> If only `stop` is given, the generator starts at zero, and the step is 1.

In [1]:
range(1,10)

range(1, 10)

A `range` object is **iterable**: it can be traversed simply with a Python loop (this is 90% of the use cases for `range`):

In [2]:
for i in range(1,10):
    print(i)

1
2
3
4
5
6
7
8
9

If you want to *see* a range object as a list, just turn it into a list:

In [3]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 1</span>
<div><span style="color: #0000BB">
    
Using `print`, `list` and `range`, can you display as a list:
- the integer numbers from 0 to 10 inclusive
- the integer numbers from -1 to -5 inclusive
- the first 5 even integers from 2 to 10 inclusive
</span></div>

In [4]:
print(list(range(11)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
print(list(range(-1, -6, -1)))

[-1, -2, -3, -4, -5]

In [6]:
print(list(range(2,11,2)))

[2, 4, 6, 8, 10]

[top](#top)

## __2 - The pythonic loop – Iterable objects__ <a name="2"></a>
Python **Iterable** are objects that you can iterate over simply with a loop, like
objects of type
<span style="color:green;font-weight:bold;font-family:arial">range</span>,
<span style="color:green;font-weight:bold;font-family:arial">list</span>,
<span style="color:green;font-weight:bold;font-family:arial">str</span>...:

In [7]:
for c in "hello": # c iterates over all the letters of the string "hello"
    print(c)      # display c

h
e
l
l
o

In [8]:
L = range(5)              # L is a range object
print("Iterator:", L)
print("Conversion to list:", list(L))

Iterator: range(0, 5)
Conversion to list: [0, 1, 2, 3, 4]

In [9]:
for e in range(5):         # Iterations: e is successvely 0, 1, 2, 3 and 4.
    print(e, "->", e*e)    # print the value of e*e

0 -> 0
1 -> 1
2 -> 4
3 -> 9
4 -> 16

[top](#top)

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 2 $-$ Simple traversal of a list</span>
<span style="color: #0000BB">
    
- Define the list of strings: `L1 = ["data1.txt", "data2.txt", "data3.txt", "data4.txt"]`.<br>
- Define the empty list `L2`.<br>
- In a loop traversing `L1`, append at the end of `L2` the current element of `L1` with the suffix `".txt"` replaced by `".png"`.<br>
    $\leadsto$ tips: `L2.append(item)` append the object `item` to the list `L2`.<br>
    $\phantom{---}$ See this [page](https://www.w3schools.com/python/ref_string_replace.asp) on the site www.w3schools.com/python for a short documentation on the methode `replace` of the `str` class.
- Displays `L2`.
</span></div>
tips:

In [10]:
L1 = ["data1.txt", "data2.txt", "data3.txt", "data4.txt"]
L2 = []
for e in L1:
    L2.append(e.replace('.txt', '.png'))
L2

['data1.png', 'data2.png', 'data3.png', 'data4.png']

<div class="alert alert-block alert-info"><span style="color: #0000BB">
    
- Traverse `L1` backwards with a `for` loop and print the current term at each lap of the loop.<br>
    $\leadsto$ Tips: try the expressions `L1[::-1]` ...
</span></div>

In [11]:
L1[::-1]

['data4.txt', 'data3.txt', 'data2.txt', 'data1.txt']

In [12]:
for e in L1[::-1]:
    print(e)

data4.txt
data3.txt
data2.txt
data1.txt

<div class="alert alert-block alert-info"><span style="color: #0000BB">
    
- Define `L3` obtained by traversing `L1` backwards and adding the current term without its ".txt" suffixe.<br>
- Displays `L3`.
</span></div>

In [13]:
L3 = []
for e in L1[::-1]:
    L3.append(e.replace(".txt",""))
print("L3:", L3)

L3: ['data4', 'data3', 'data2', 'data1']

[top](#top)

## The `enumerate` primitive <a name="enumerate"> </a>

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 2.1 $-$ Enumerated traversal of an iterable with the 
<span style="color:green">enumerate</span> primitive.</span>
<span style="color: #0000BB">

You can consult the documentation of the Python site on the *primitive*
[enumerate](https://docs.python.org/3/library/functions.html?highlight=enumerate#enumerate),
or the online help by typing the command
<span style="color:green;font-family:arial">help(enumerate)</span>.
    
With the list `L1` from the previous exercise:<br>
- Using the primitive <span style="color:green;font-family:arial">enumerate</span>, iterate over `L1` with the couple `n,e`: display at each loop lap the lap number (`n`) and the current element of `L1` (`e`).<br>
- Find two different ways to display the loop lap number starting at 10.
</span></div>

In [14]:
for n,e in enumerate(L1):
    print(n,e)

0 data1.txt
1 data2.txt
2 data3.txt
3 data4.txt

In [15]:
for n,e in enumerate(L1, 10):
    print(n,e)

10 data1.txt
11 data2.txt
12 data3.txt
13 data4.txt

In [16]:
for n,e in enumerate(L1):
    print(n+10,e)

10 data1.txt
11 data2.txt
12 data3.txt
13 data4.txt

[top](#top)

## The `zip` primitive <a name="zip"> </a>

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 2.2 $–$ Simultaneous traversal of several iterables: 
<span style="color:green">zip</span> primitive.</span>
<span style="color: #0000BB">    

You can consult the documentation of the Python site on the
primitive [zip](https://docs.python.org/3/library/functions.html?highlight=zip#zip)
or the online help by typing the command
<span style="color:green;font-family:arial">help(zip)</span>.
- Define `R` as `range(5,-6,-2)` and display `R` as a list.
- Using the <span style="color:green">zip</span> primitive, simultaneously browse `R` and `L1` with the pair of names `n,e` and display at each loop lap the value of `n` followed by `":"` followed by the value of `e`.

In [17]:
R = range(5,-6,-2)
print(list(R))

[5, 3, 1, -1, -3, -5]

In [18]:
for n,e in zip(R,L1):
    print(n,":",e)

5 : data1.txt
3 : data2.txt
1 : data3.txt
-1 : data4.txt

Formatted display with an <span style="color:#008000">f-string</span>:

In [19]:
for n,e in zip(R,L1):
    print(f"{n:3d}: {e}")

  5: data1.txt
  3: data2.txt
  1: data3.txt
 -1: data4.txt

[top](#top)

## __3 - 'Mutable/not mutable' objects in Python__ <a name="3"></a>

Python **mutable objects** are instances of classes that can be modified using the methods
classes or language operator.

Most methods that modify a mutable object return **nothing** because the modification is done
*in place* on the object data.<br>
An important consequence is that if we write
<span style="color:#9f1f0f">X = mutableobject.method(...)</span>,
where <span style="color:#9f1f0f">method</span> modifies
<span style="color:#9f1f0f">mutableobject</span>, we get
<span style="color:#9f1f0f">None</span> as the value returned by <span style="color:#9f1f0f">method</span> and 
<span style="color:#9f1f0f">X</span> becomes the name of <span style="color:#9f1f0f">None</span> !!

The main mutable objects are **lists**
(class <span style="color:green">list</span>), **dictionaries**
(class <span style="color:green">dict</span>) and optionally
**user-defined classes**.

Most **base types** are **not mutable** like
<span style="color:green">int</span>,
<span style="color:green">float</span>,
<span style="color:green">complex</span>,
<span style="color:green">str</span>,
<span style="color:green">bool</span>... as well as the type
<span style="color:green">tuple</span>
(this is what differentiates it from the <span style="color:green">list</span> type).

#### <span style="color:#0060B0"> A string is not mutable: </span>

In [20]:
a = "hello"               # string -> not mutable!
b = a.replace("h","H")    # a.replace(...) retuns a modified copy of a
print(a,b)                # a has not changed

hello Hello

#### <span style="color:#0060B0"> A list is mutable: the `sort` method acts on the list and returns <span style="color:#9f1f0f">None</span></span>

In [21]:
L = list(range(5,-1,-1)); L

[5, 4, 3, 2, 1, 0]

In [22]:
L.sort(); L

[0, 1, 2, 3, 4, 5]

<br>
**<span style="color:#800000">FATAL ERROR: </span>**

In [23]:
L = L.sort()  # L is lost !!!!
print(L)

None

[top](#top)

## __4 - The `list` type__ <a name="4"></a>

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 4.1</span>
<span style="color: #0000BB">


- Using the <span style="color:green">randint</span> function of the <span style="color:green">random</span> module
    and the <span style="color:green">append</span> method of the <span style="color:green">list</span> class, create
`LA`, a list of 10 random integer between 0 and 30.<br>
(If necessary see [module random](https://docs.python.org/3/library/random.html), or the inline help
by typing <tt><span style="color:green">help("random.randint")</span></tt> in a cell.<br>
- Arrange the elements of `LA` in ascending order then display `LA`.
- Now sort the elements of `LA`  in descending order then display `LA`<br>
  $\leadsto$ tips: look at the online help on `list.sort`

In [24]:
from random import randint
LA = []
for i in range(10):
    LA.append(randint(0,30))
print(LA)

[26, 20, 27, 6, 20, 11, 23, 12, 30, 23]

In [25]:
LA.sort()
LA

[6, 11, 12, 20, 20, 23, 23, 26, 27, 30]

In [26]:
help(list.sort)

Help on method_descriptor:

sort(self, /, *, key=None, reverse=False)
    Sort the list in ascending order and return None.

    The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
    order of two equal elements is maintained).

    If a key function is given, apply it once to each list item and sort them,
    ascending or descending, according to their function values.

    The reverse flag can be set to sort in descending order.

In [27]:
LA.sort(reverse=True) ; LA

[30, 27, 26, 23, 23, 20, 20, 12, 11, 6]

[top](#top)

## List comprehension <a name="list_comprehension"></a>

A **list comprehension** is a list including a **a loop** at the definition step: `L = [ <expression> for <item> in <iterable> ]`.<br>
you can also incorporate a filter: `[ <expression> for <item> in <iterable> if <condition(s)> ]`.

In [28]:
# Examples:
L1 = [f"data{i}.txt" for i in range(1,5)]
L1

['data1.txt', 'data2.txt', 'data3.txt', 'data4.txt']

In [29]:
# Examples:
L2 = [x-6 for x in range(16) if x % 3 != 0]
L2

[-5, -4, -2, -1, 1, 2, 4, 5, 7, 8]

[top](#top)

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 4.2 $-$ List comprehension</span>
<span style="color: #0000BB">

- Redefine in comprehension the `LA` list of the previous exercise.
- Define and display the list comprehension `LS` of the squares of the elements of `LA`.
- Define and display the list comprehension `LE` of the even elements of `LA`.
- Define and display the list comprehension `LO` of squares of the odd elements of `LA`.

In [30]:
LA = [randint(0,30) for i in range(10)]; LA

[29, 6, 19, 10, 26, 26, 27, 19, 23, 4]

In [31]:
LS = [e*e for e in LA]; LS

[841, 36, 361, 100, 676, 676, 729, 361, 529, 16]

In [32]:
LE = [e for e in LA if e % 2 == 0]; LE

[6, 10, 26, 26, 4]

In [33]:
LO = [e*e for e in LA if e % 2 == 1]; LO

[841, 361, 729, 361, 529]

[top](#top)

### Slicing <a name="slicing"></a>
The **slicing** allows you to extract part of a list: **it is a technique to master absolutely**.

This technique also applies to character strings and multidimensional arrays
(like numpy.ndarray).<br />

The syntax with the list `L` is: `L[<start inclusive>:<end exclusive>:<step>]`<br />
or, if the step is 1: `L[<start inclusive>:<end exclusive>]`<br />

Using negative indices allows the list to be traversed in the opposite direction.

<img src="img/slicing.png" style="height:300px;width:400px" align="middle"/>

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 4.3 $-$ List slicing</span>
<span style="color: #0000BB">

- Set and display `LC`, the list of integers from -10 to 10.
- Extract and display the first 3 elements of `LC`.
- Extract and display the last 4 elements of `LC`.
- Display the list obtained by traversing `LC` backwards. Visually check that `LC` is not modified.
- Display the elements of `LC` going from the penultimate to the fourth inclusive by step of −1.

In [34]:
LC = list(range(-10,11)); LC

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [35]:
LC[:3]

[-10, -9, -8]

In [36]:
LC[-4:]

[7, 8, 9, 10]

In [37]:
print(LC[::-1])
print(LC)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9, -10]
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [38]:
LC[-2:2:-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0, -1, -2, -3, -4, -5, -6, -7]

[top](#top)

## __5 - The `str` type__ <a name="5"></a>

The expression `dir(item)` returns the names of the attributes and methods of `item`.<br>
Seeing the result of `dir(str)` in the cell below can you predict the result of list comprehension in the next cell ?

In [39]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [40]:
print([item for item in dir(str) if not item.startswith("__")])

['capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

[top](#top)

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 5.1</span>
<span style="color: #0000BB">
    
- Display the help on the `replace` method of the `str` class.<br>
- Define and display the string `S1` containing `"Hello friends!"`.<br>
- Define and display the string `S2` equal to S1 capitalized.<br>
- Define and display the string `S3` obtained by replacing in S1 `Hello` by `Goodbye`<br>
- Verify that `S1` has not been modified...      

    </span></div>

In [41]:
help(str.replace)

Help on method_descriptor:

replace(self, old, new, count=-1, /)
    Return a copy with all occurrences of substring old replaced by new.

      count
        Maximum number of occurrences to replace.
        -1 (the default value) means replace all occurrences.

    If the optional argument count is given, only the first count occurrences are
    replaced.

In [42]:
S1 = "Hello friends!"
print(S1)
S2 = S1.upper()
print(S2)
S3 = S1.replace('Hello', 'Goodbye')
print(S3)
print(S1)

Hello friends!
HELLO FRIENDS!
Goodbye friends!
Hello friends!

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 5.2</span>
<span style="color: #0000BB">
        
- Define `fileName` as the string `"data1.txt"`.
- Using the `replace` method applied to `fileName`, define `imageName` by replacing `".txt"` by `".png"` in `fileName`
- Display `fileName` and `imageName`.
</span></div>

In [43]:
fileName = "data1.txt"
imageName = fileName.replace(".txt", ".png")
print(fileName, imageName)

data1.txt data1.png

<div class="alert alert-block alert-info">
<span style="color: #0000BB;font-weight: bold; font-size:large;">Exercise 5.3 Palindrome</span>
<span style="color: #0000BB">
  
- Define `S` as the string `"A man, a plan, a canal--Panama!"`.
- Define `s` as `S` converted to lower case.
- Verify that `s` is a *palindrome*  : ignoring comas, spaces, dashes, exclamation marks... reading it from left to right and from right to left gives the same result.

In [44]:
S = 'A man, a plan, a canal--Panama!'
s = S.lower()
s = s.replace(" ","").replace("-","").replace("!","").replace(",","")
s == s[::-1]

True

[top](#top)

### f-string: formatted string. <a name="f-string"></a>

The syntaxe `f"....."` constructs a formatted string.<br>
Take a look at some formatting examples below:

In [45]:
amount = 123.4567
message = f"Amount due: {amount} €" # Python looks for the occurrence of {expression} and 
                                    # replaces expression by its value
print(message)

Amount due: 123.4567 €

<br>By specifying the format with `{expression:format}` we can control the format.<br>
`{expression:.2f}` $\leadsto$ `expression` is replaced by its value as a float with 2 decimal places:

In [46]:
print(f"Amount due: {amount:.2f} €")

Amount due: 123.46 €

<br>`{expression:8.2f}` $\leadsto$ `expression` is replaced by its value as an 8 character float
with 2 decimal places:

In [47]:
print(f"Amount due: {amount:8.2f} €")

Amount due:   123.46 €

<br>`{expression:08.2f}` $\leadsto$ `expression` is replaced by its value as an 8 characters float
with 2 decimal places and left padding with 0s.

In [48]:
print("Amount due: {amount:08.2f} €")

Amount due: {amount:08.2f} €

[top](#top)